<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/_head.ejs') %>
    <title><%= config.title %> </title>
    <% if(config.showNavbar) {%> 
        <script defer src="../js/header.js"></script>
    <% } %> 
    <link rel="stylesheet" href="../css/pageStyles/contact.css">
</head>
<body>
    <!-- Show navbar -->
    <% if(config.showNavbar) {%>
        <%- include('./components/_header_loader.ejs') %>
    <% } %>
    
    <section class="contact">
        <div class="container">
            <div class="contact-title">
                <h2><%= contactSettings.title %></h2>
            </div>
            <div class="contact-description">
                <b>Description</b>
                <p><%= contactSettings.description %></p>
            </div>
            <div class="contact-content">
                <!-- Email list section -->
                <% if(contactSettings.ShowEmail_section) {%> 
                    <div class="contact-mail-list">
                        <b class="desc"><%= contactSettings.Email_title %></b>
                        <% contactSettings.Emails.forEach(email => { %> 
                            <div class="item">
                                <b><%= email.thisEmailFor %></b>
                                <a href="mailto:<%= email.Email %>"><%= email.Email %></a>
                            </div>
                        <% }) %> 
                    </div>
                <% } %> 

                <!-- Phone numbers section -->
                <% if(contactSettings.ShowPhoneNumbers_section) {%>
                    <div class="contact-phone-numbers">
                        <b class="desc"><%= contactSettings.PhoneNumbers_title %></b>
                        <% contactSettings.Numbers.forEach(number => { %> 
                        <div class="item">
                            <b><%= number.thisNumberFor %></b>
                            <a href="tel:<%= number.NumberPhone %>"><%= number.NumberPhone %></a>
                        </div>
                        <% }) %> 
                    </div>
                <% } %>

                <!-- Address section -->
                <% if(contactSettings.ShowAddress_section) {%>
                    <div class="adress">
                        <b class="desc"><%= contactSettings.Address_title %></b>
                        <% contactSettings.Address.forEach(address => { %> 
                        <div class="item">
                            <b><%= address.addressName %></b>
                            <p><%= address.address %></p>
                        </div>
                        <% }) %> 
                    </div>
                <% } %>

                <!-- Websites section -->
                <% if(contactSettings.ShowWebSites_section) {%>
                    <div class="contact-websites">
                        <b class="desc"><%= contactSettings.Website_title %></b>
                        <% contactSettings.websites.forEach(site => { %> 
                        <div class="item">
                            <b><%= site.websiteName %></b>
                            <a href="<%= site.website %>"><%= site.website %></a>
                        </div>
                        <% }) %> 
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <%- include('./components/_footer.ejs') %> 
</body>
</html>