<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/_head.ejs') %>
    <%- include('./components/_head-files.ejs') %>
    <% if(config.showAds) {%>
    <%- include('./components/ads/_ad-head-script.ejs') %>
    <% } %>
    <% if(config.showNavbar) {%>
    <script defer src="js/header.js"></script>
    <% } %>
    <title><%= config.title %> </title>
</head>

<body>
    <% if(config.showNavbar) {%>
    <%- include('./components/_header_loader.ejs') %>
    <% } %>

    <% if(config.show_mainTitle || config.show_description) {%>
    <section>
        <div class="top-content">
            <% if(config.show_mainTitle) {%>
            <div class="main-title"><%- config.mainTitle %></div>
            <% } %>

            <% if(config.show_description) {%>
            <div class="main-description">
                <p><%- config.description %></p>
            </div>
            <% } %>
        </div>
    </section>
    <% } %>

    <% if(config.showAds) {%>
    <% if(config.showAd1){ %>
    <section>
        <%- include('./components/ads/_ad1-script.ejs') %>
    </section>
    <% } %>
    <% } %>

    <section id="recent-link"></section>

    <% if(config.showAds) {%>
    <% if(config.showAd2){ %>
    <section>
        <%- include('./components/ads/_ad2-script.ejs') %>
    </section>
    <% } %>
    <% } %>

    <% if(config.showPublicLinks) {%>
    <section>
        <div class="showLinksBox-button">
            <button id="show-public-links">Show public links</button>
        </div>

        <div id="urls-box">
            <div class="urls-content">
                <% if(data.length > 0){ %>
                <% data.forEach(url=> { %>
                <div class="url-item">
                    <div class="url fullUrl">
                        <label>Full URL</label>
                        <a href="<%= url.fullURL %>"><%= url.fullURL %></a>
                    </div>
                    <hr>
                    <div class="url shortUrl">
                        <label>Short URL</label>
                        <a href="/<%= url.shortURL %>" target="_blank"><span
                                class="current-website"></span><%= url.shortURL %></a>
                        <br>
                        <br>
                        <button data-short-url="<%= url.shortURL %>" data-clipboard-text="" class="copy">Copy</button>
                    </div>
                    <hr>
                    <div class="url views">
                        <label class="labelDetails">Clicks ⇒ <span class="viewsCount"><%= url.views %></span></label>
                        <br>
                        <div class="date"><%= url.postedOn.toLocaleDateString() %></div>
                    </div>
                </div>
                <% }) %>
                <% }else{ %>
                <H3 style="padding: 2rem 0; color: aqua;">No public Links available!</H3>
                <% } %>
            </div>
        </div>
    </section>
    <% } %>

    <section>
        <div class="container">
            <div class="public-link-choice">
                <div class="checkbox-message">
                    <label>Would you like to display your link in public Links?</label>
                </div>
                <select name="showInPublicLinks" id="showInPublicLinks">
                    <option value="true">Display my link</option>
                    <option value="false">Don't display my link</option>
                </select>
            </div>

            <form action="/" method="POST">
                <% if(!config.allows_user_to_create_URL){ %>
                <div id="msg-error" style="color:orangered; padding:10px 0;">
                    You can't create a URL, Admin disabled this feature at the moment, Try again later
                </div>
                <label for="fullURL" style="color:rgb(246, 85, 26);">Try later!</label>
                <div class="main-input">
                    <input type="url" placeholder="Enter full URL" id="fullURL" name="fullURL" disabled="disabled"
                        required />
                </div>
                <% }else{ %>
                <div id="msg-error" style="color:orangered; padding:10px 0;"></div>
                <label for="fullURL">Enter full URL</label>
                <div class="main-input">
                    <input type="url" placeholder="Enter full URL" id="fullURL" name="fullURL" required />
                    <input type="submit" value="Short it" id="submit-button">
                </div>
                <% } %>
            </form>
        </div>
    </section>

    <% if(config.showAds) {%>
    <% if(config.showAd3){ %>
    <section>
        <%- include('./components/ads/_ad3-script.ejs') %>
    </section>
    <% } %>
    <% } %>

    <%- include('./components/_footer.ejs') %>

</body>

</html>