<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/_head.ejs') %>
    <%- include('./components/_head-files.ejs') %>
    <% if(config.showAds) {%>
    <%- include('./components/ads/_ad-head-script.ejs') %>
    <% } %>
    <% if(config.showNavbar) {%>
    <script defer src="js/header.js"></script>
    <% } %>
    <title><%= config.title %> </title>
</head>

<body>
    <% if(config.showNavbar) {%>
    <%- include('./components/_header_loader.ejs') %>
    <% } %>

    <% if(config.show_mainTitle || config.show_description) {%>
    <section class="main-title-description">
        <div class="top-content">
            <% if(config.show_mainTitle) {%>
            <div class="main-title"><%- config.mainTitle %></div>
            <% } %>

            <% if(config.show_description) {%>
            <div class="main-description">
                <p><%- config.description %></p>
            </div>
            <% } %>
        </div>
    </section>
    <% } %>


    <section class="main-app-Input">
        <div class="container">
            <form action="/" method="POST">
                <div class="create-short-url">
                    <div class="top-url-creation-content">
                        <% if(!config.allows_user_to_create_URL){ %>
                        <div id="msg-error" style="color:#FF5C8D; padding:10px 0;">
                            OOPS, You can't short your URL at the moment, Admin disabled this feature for now, Try again later
                        </div>
                        <label for="fullURL" style="color:rgb(246, 85, 26);">Try later!</label>
                        <div class="main-input">
                            <input type="url" placeholder="Enter full URL" id="fullURL" name="fullURL" disabled="disabled"
                                required />
                        </div>
                        <% }else{ %>
                        <div id="msg-error" style="color:orangered; padding:10px 0;"></div>
                    </div>
                    <div class="main-input">
                        <label for="fullURL">Past Your URL to short it.</label>
                        <input type="url" placeholder="Enter full URL" id="fullURL" name="fullURL" required />
                        <div class="public-link-choice">
                            <div class="checkbox-message">
                                <label>Show URL on public URLs?</label>
                            </div>
                            <select name="showInPublicLinks" id="showInPublicLinks">
                                <option value="true">Yes!</option>
                                <option value="false">No, Please.</option>
                            </select>
                        </div>
                        <input type="submit" value="Short it." id="submit-button">
                    </div>
                    <% } %>
                </div>
            </form>
            <% if(config.showLinksCounter) {%> 
                <div id="total-urls">
                    <p id="total-urls-title">Total URLs: </p>
                    <h1 id="counter-urls"><%= counter %> </h1>
                </div>
            <% }%>
        </div>
    </section>



    <% if(config.showAds) {%>
        <% if(config.showAd1){ %>
            <section>
                <%- include('./components/ads/_ad1-script.ejs') %>
            </section>
        <% } %>
    <% } %>

    <% if(config.showAds) {%>
        <% if(config.showAd2){ %>
            <section>
                <%- include('./components/ads/_ad2-script.ejs') %>
            </section>
        <% } %>
    <% } %>


<section id="recent-link"></section>

<div class="warning-message">
    <h1>Be carfull!</h1>
    <p>
        All these links are created by anonymous users, we have not reviewed these links.
    </p>
    <p>
        Which means we don't know if these links contain malware or fake pages.
    </p>
    <p>
        We are not responsible for your clicking on any link.
    </p>
</div>

    <% if(config.showPublicLinks) {%>
        <div class="all-public-urls">
            <% if(data.length > 0){ %>
                <% data.forEach(url=> { %>
                    <div class="public-url-card">
                        <div class="public-url-full-url">
                            <label for="public-url-full-url">Full URL</label>
                            <a href="<%= url.fullURL %>" class="public-url-full-url-a-tag"><%= url.fullURL %></a>
                        </div>
                        <div class="public-url-short-url">
                            <label for="public-url-short-url">Short URL</label>
                            <a href="/<%= url.shortURL %>"><span
                                class="current-website"></span><%= url.shortURL %></a>
                        </div> 
                        <button data-short-url="<%= url.shortURL %>" data-clipboard-text="" class="copy">Copy Short URL</button>
                        <div class="public-url-clicks-number">
                            <h1><%= url.views %><span class="public-url-click-word"> Clicks</span></h1>
                        </div>
                        <div class="public-url-createdAt">
                            <p>Created At<code> <%= url.postedOn.toLocaleDateString() %></code></p>
                        </div>
                    </div>
                <% }) %>
            <% }else{ %>
                <H3 style="padding: 2rem 0; color: rgb(24, 77, 167);">No Public URLs Found!</H3>
            <% } %>
        </div>
    <% } %> 
   

    <% if(config.showAds) {%>
    <% if(config.showAd3){ %>
    <section>
        <%- include('./components/ads/_ad3-script.ejs') %>
    </section>
    <% } %>
    <% } %>

    <%- include('./components/_footer.ejs') %>

    <script>
        var fullPublicUrl = document.querySelectorAll('.public-url-full-url-a-tag')
        fullPublicUrl.forEach(i => i.innerHTML = i.innerHTML.slice(0,20)+'...')    
    </script>
</body>

</html>