<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/_head.ejs') %>
    <title><%= config.title %> </title>
    <% if(config.showNavbar) {%>
    <script defer src="../js/header.js"></script>
    <% } %>
    <link rel="stylesheet" href="../css/pageStyles/page-not-found.css">
</head>

<body>
    <!-- Show navbar -->
    <% if(config.showNavbar) {%>
    <%- include('./components/_header_loader.ejs') %>
    <% } %>

    <section class="not-found">
        <div class="not-found-content">
            <h1><%= config.Not_found_title %></h1>
            <div class="not-found-message">
                <%= config.Not_found_description %>
            </div>
            <div class="go-home-page">
                <a href="/">Home page</a>
            </div>
        </div>
    </section>

    <%- include('./components/_footer.ejs') %>
</body>

</html>